@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*{
  margin: 0;
  font-family: "Incosolata";
  color: aliceblue;
  background-color: #192841;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.links{
  background-color: #f1356d;
  border-radius: 8px;
}
.body {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}
.body h1 {
  color:mediumorchid;
  padding: 25px;

}
.body p {
  padding-left: 25px;
}
.footer {
  float: inline-start;
}